<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aguitech.administradorpersonal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreRegistroActivity"
            android:label="@string/title_activity_pre_registro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistroActivity"
            android:label="@string/title_activity_registro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuPrincipalActivity"
            android:label="@string/title_activity_menu_principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CerrarSesionActivity"
            android:label="@string/title_activity_cerrar_sesion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DirectorioActivity"
            android:label="@string/title_activity_directorio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DirectorioNuevoActivity"
            android:label="@string/title_activity_directorio_nuevo"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
